import { serve } from "@hono/node-server";

import app from "./index";
import { getAppEnv } from "./lib/env";

const env = getAppEnv();

serve(
  {
    fetch: app.fetch,
    port: env.PORT,
  },
  (info) => {
    console.log(`Listening on http://localhost:${info.port}`);
  },
);
